/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        comma_question: comma_question {
            compatible = "zmk,behavior-mod-morph";
            label = "comma^question";
            bindings = <&kp KP_COMMA>, <&kp QUESTION>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        period_exclamation: period_exclamation {
            compatible = "zmk,behavior-mod-morph";
            label = "period^exclamation";
            bindings = <&kp KP_DOT>, <&kp EXCLAMATION>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        space_del: space_del {
            compatible = "zmk,behavior-mod-morph";
            label = "SPACE_DEL";
            bindings = <&kp SPACE>, <&kp BACKSPACE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        pgdown_pgup: pgdown_pgup {
            compatible = "zmk,behavior-mod-morph";
            label = "PGDOWN_PGUP";
            bindings = <&kp PAGE_DOWN>, <&kp PAGE_UP>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        btclr_bootloader: btclr_bootloader {
            compatible = "zmk,behavior-mod-morph";
            label = "BTCLR_BOOTLOADER";
            bindings = <&bt BT_CLR>, <&bootloader>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        enter_del: enter_del {
            compatible = "zmk,behavior-mod-morph";
            label = "ENTER_DEL";
            bindings = <&kp ENTER>, <&kp BACKSPACE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        switchtab: switchtab {
            compatible = "zmk,behavior-mod-morph";
            label = "SWITCHTAB";
            bindings = <&kp TAB>, <&kp TAB>;

            #binding-cells = <0>;
            mods = <(MOD_LGUI)>;
            keep-mods = <(MOD_LCTL|MOD_LALT)>;
        };

        tab_switchtab: tab_switchtab {
            compatible = "zmk,behavior-mod-morph";
            label = "TAB_SWITCHTAB";
            bindings = <&kp TAB>, <&switchtab>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            display-name = "Base";
            bindings = <
&kp ESC       &kp N1  &kp N2  &kp N3        &kp N4            &kp N5                                                  &kp N6           &kp N7             &kp N8         &kp N9  &kp N0  &kp GRAVE
&none         &kp Q   &kp W   &kp E         &kp R             &none                                                   &none            &kp U              &kp I          &kp O   &kp P   &none
&kp LEFT_GUI  &kp A   &kp S   &kp D         &kp F             &kp G                                                   &kp K            &kp J              &kp H          &kp L   &kp T   &kp RIGHT_GUI
&none         &kp Z   &kp X   &kp C         &kp V             &mo 1           &comma_question    &period_exclamation  &mo 1            &kp N              &kp M          &kp B   &kp Y   &none
                              &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_SHIFT  &space_del         &enter_del           &kp RIGHT_SHIFT  &kp RIGHT_CONTROL  &kp RIGHT_ALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        symbol_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Symbol Layer";
            bindings = <
&btclr_bootloader  &bt BT_SEL 0   &bt BT_SEL 1      &bt BT_SEL 2     &bt BT_SEL 3  &bt BT_SEL 4                                     &trans        &trans            &trans         &trans                &trans                 &bootloader
&none              &kp PLUS       &kp KP_EQUAL      &kp KP_MULTIPLY  &kp KP_SLASH  &none                                            &none         &kp MINUS         &trans         &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &none
&tab_switchtab     &kp LESS_THAN  &kp GREATER_THAN  &kp HASH         &kp COLON     &trans                                           &kp KP_SLASH  &kp SINGLE_QUOTE  &kp SEMICOLON  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &pgdown_pgup
&none              &trans         &trans            &trans           &kp PERCENT   &mo 2         &trans            &trans           &mo 2         &trans            &trans         &kp LESS_THAN         &kp GREATER_THAN       &none
                                                    &trans           &trans        &trans        &kp LEFT_SHIFT    &kp RIGHT_SHIFT  &trans        &trans            &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        fn_nav_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Nav/Func. Layer";
            bindings = <
&trans  &trans    &trans    &trans     &trans  &trans                    &trans  &trans   &trans   &trans   &trans   &trans
&none   &trans    &kp UP    &trans     &trans  &trans                    &kp F1  &kp F2   &kp F3   &kp F4   &kp F5   &none
&trans  &kp LEFT  &kp DOWN  &kp RIGHT  &trans  &trans                    &kp F6  &kp F7   &kp F8   &kp F9   &kp F10  &trans
&none   &trans    &trans    &trans     &trans  &trans  &trans    &trans  &trans  &kp F11  &kp F12  &kp F13  &kp F14  &none
                            &trans     &trans  &trans  &trans    &trans  &trans  &trans   &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans
            >;
        };
    };
};
